@model CrmCore.Application.FirmaKontakServices.Dto.CreateFirmaKontak

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FirmaKontak</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAsync">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AdiSoyadi" class="control-label"></label>
                <input asp-for="AdiSoyadi" class="form-control" />
                <span asp-validation-for="AdiSoyadi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefon" class="control-label"></label>
                <input asp-for="Telefon" class="form-control" />
                <span asp-validation-for="Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EPosta" class="control-label"></label>
                <input asp-for="EPosta" class="form-control" />
                <span asp-validation-for="EPosta" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="FirmaId" />
            @*<div class="form-group">
            <label asp-for="FirmaId" class="control-label"></label>
            <select asp-for="FirmaId" class ="form-control" asp-items="ViewBag.FirmaId"></select>
        </div>*@
            <div class="form-group">
                <label asp-for="CreatorUserId" class="control-label"></label>
                <input asp-for="CreatorUserId" class="form-control" />
                <span asp-validation-for="CreatorUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

